[submodule "include/stb"]
	path = include/stb
	url = https://github.com/nothings/stb.git
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/20k/imgui-fork
	branch = subpixel-font
[submodule "include/toolkit"]
	path = include/toolkit
	url = https://github.com/20k/JGameToolkit
[submodule "include/networking"]
	path = include/networking
	url = https://github.com/20k/clientservernetworking
[submodule "include/vec"]
	path = include/vec
	url = https://github.com/20k/funvectormaths
[submodule "include/ndb"]
	path = include/ndb
	url = https://github.com/20k/ndb
